# For some reasons the standard libraries are not included in the default python image...
collections
concurrent.futures
itertools
multiprocessing 
tqdm
os
contextlib
faulthandler
io
platform
signal
tempfile

numpy==1.24.3